/CapaServicios/nbproject/private/
/CapaServicios/build/
/CapaServicios/build/web/WEB-INF/classes/mybatis/mybatis-config.xml
/CapaServicios/src/java/mybatis/mybatis-config.xml
/ClienteEscritorio/nbproject/private/
/ClienteEscritorio/build/
/ClienteEscritorio/dist/
/CapaServicios/dist/