<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ClienteMapper">

    <select id="obtenerTodosClientes" resultType="pojo.Cliente">
        SELECT 
        idCliente, 
        telefono, 
        apellidoMaterno, 
        apellidoPaterno, 
        calle, 
        colonia, 
        cp, 
        correoElectronico, 
        contrasenia, 
        fotografia, 
        nombreCliente
        FROM cliente;
    </select>

    <insert id="agregar" parameterType="pojo.Cliente">
        INSERT INTO cliente (
        telefono, 
        apellidoMaterno, 
        apellidoPaterno, 
        calle, 
        colonia, 
        cp, 
        correoElectronico, 
        contrasenia, 
        fotografia, 
        nombreCliente
        ) 
        VALUES (
        #{telefono}, 
        #{apellidoMaterno}, 
        #{apellidoPaterno}, 
        #{calle}, 
        #{colonia}, 
        #{cp}, 
        #{correoElectronico}, 
        #{contrasenia}, 
        #{fotografia}, 
        #{nombreCliente}
        );
    </insert>
    
    <update id="actualizar" parameterType="pojo.Cliente">
        UPDATE cliente
        SET 
        telefono = #{telefono}, 
        apellidoMaterno = #{apellidoMaterno}, 
        apellidoPaterno = #{apellidoPaterno}, 
        calle = #{calle}, 
        colonia = #{colonia}, 
        cp = #{cp}, 
        contrasenia = #{contrasenia}, 
        fotografia = #{fotografia}, 
        nombreCliente = #{nombreCliente}
        WHERE idCliente = #{idCliente};
    </update>

    <delete id="eliminar">
        DELETE FROM cliente
        WHERE correoElectronico = #{correoElectronico};
    </delete>
    
</mapper>
