<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ColaboradorMapper">
    <select id="obtenerTodosColaborador" resultType="pojo.Colaborador">
        SELECT c.idColaborador, c.nombreColaborador,  c.apellidoPaterno, c.apellidoMaterno, c.noPersonal, c.correoElectronico, c.curp, c.contrasenia, rol.idRol, rol.tipoRol
        FROM colaborador c
        INNER JOIN rol rol ON rol.idRol = c.idRol;
    </select>
    
    <select id="obtenerNoPersonal" resultType="pojo.Colaborador">
        SELECT c.idColaborador, c.nombreColaborador,  c.apellidoPaterno, c.apellidoMaterno, c.noPersonal, c.correoElectronico, c.curp, c.contrasenia, rol.idRol, rol.tipoRol
        FROM colaborador c
        INNER JOIN rol rol ON rol.idRol = c.idRol;
        WHERE c.noPersonal = #{noPersonal};
    </select>
    
    <insert id="agregar" parameterType="pojo.Colaborador">
        INSERT INTO colaborador (nombreColaborador, apellidoPaterno, apellidoMaterno, curp, correoElectronico, noPersonal, contrasenia, fotografia, idRol, idUnidad) 
        VALUES (#{nombreColaborador}, #{apellidoPaterno}, #{apellidoMaterno}, #{curp}, #{correoElectronico}, #{noPersonal}, #{contrasenia}, #{fotografia}, #{idRol}, #{idUnidad});
    </insert>
    
    <update id="actualizar" parameterType="pojo.Colaborador">
        UPDATE colaborador
        SET nombreColaborador = #{nombreColaborador}, apellidoPaterno = #{apellidoPaterno}, apellidoMaterno = #{apellidoMaterno}, curp = #{curp}, correoElectronico = #{correoElectronico}, contrasenia = #{contrasenia}, fotografia = #{fotografia}, idRol = #{idRol}, idUnidad = #{idUnidad}
        WHERE noPersonal = #{noPersonal};
    </update>

    <delete id="eliminar" parameterType="pojo.Colaborador">
        DELETE FROM colaborador
        WHERE noPersonal = #{noPersonal}
    </delete>
</mapper>