<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="paquete">
    <select id="obtenerPaquetes" resultType="pojo.Paquete">
        SELECT p.idPaquete, p.descripcion, p.peso, p.profundidad, p.alto, p.ancho, e.idEnvio, e.numeroGuia
        FROM paquete p
        INNER JOIN envio e ON e.idEnvio = p.idEnvio
    </select>
    <select id="obtenerPaqueteIdEnvio" resultType="pojo.Paquete">
        SELECT p.idPaquete, p.descripcion, p.peso, p.profundidad, p.alto, p.ancho, e.idEnvio, e.numeroGuia
        FROM paquete p
        INNER JOIN envio e ON e.idEnvio = p.idEnvio
        Where p.idEnvio = #{idEnvio}
    </select>
    <insert id="agregarPaquete" parameterType="pojo.Paquete">
        INSERT INTO paquete(idPaquete, descripcion, peso, profundidad, alto, ancho, idEnvio)
        VALUES(#{idPaquete}, #{descripcion}, #{peso}, #{profundidad}, #{alto}, #{ancho}, #{idEnvio})
    </insert>
    <update id="actualizarPaquete" parameterType="pojo.Paquete">
        UPDATE paquete
        SET descripcion = #{descripcion},
        peso = #{peso},
        profundidad = #{profundidad},
        alto = #{alto},
        ancho = #{ancho},
        idEnvio = #{idEnvio}
        WHERE idPaquete = #{idPaquete}
    </update>
    <delete id="eliminarPaquete" parameterType="pojo.Paquete">
        DELETE FROM paquete 
        WHERE idPaquete = #{idPaquete}
    </delete>
</mapper>
