<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="unidad">
    <select id = "unidades" resultType="pojo.Unidad">
        Select u.idUnidad, u.marca, u.modelo,u.anio,u.vin,
        u.noIdentificacion,r.tipoRol, r.idRole, tu.tipoUnidad, 
        tu.idTipoUnidad
        from Unidad u
        INNER JOIN Rol r on r.idRole = u.idRole;  
        INNER JOIN TipoUnidad tu on tu.idTipoUnidad = u.idTipoUnidad;
    </select>
    <select id = "unidadVin" resultType="pojo.Unidad">
        Select u.idUnidad, u.marca, u.modelo, u.anio, u.vin, u.noIdentificacion, r.tipoRol AS 'rol', tu.tipoUnidad AS 'tipoUnidad'
        from Unidad u
        INNER JOIN TipoUnidad tu ON tu.idTipoUnidad = u.TipoUnidad
        INNER JOIN Rol r ON r.idRol = u.idRol
        WHERE u.vin = #{vin};
    </select>
    <insert id ="registrarUnidad" parameterType="pojo.Unidad">
        insert into Unidad (marca, modelo,anio,vin,noIdentificacion)
        values(#{marca}, #{modelo},#{anio},#{vin},#{noIdentificacion})
    </insert>
    <update id ="actualizarUnidad" parameterType="pojo.Unidad">
        update Unidad 
        set 
        marca = #{marca}, 
        modelo = #{modelo},
        anio = #{anio},  
        noIdentificacion = #{noIdentificacion},  
        idTipoUnidad = #{idTipoUnidad}
        WHERE vin = #{vin};
    </update>
    <delete id ="eliminarUnidad" parameterType="pojo.Colaborador">
        DELETE FROM Unidad
        WHERE vin = #{vin};
    </delete>
</mapper>
